
body {
    font-family: Arial, sans-serif;
    height: 100%;
}

h1 {
    width: 100%;
    background-color: darksalmon;
    color: ghostwhite;
    text-align: center;
}

div#target{
    width: 400px;
    height: 400px;
    background-color: aqua;
    position: relative;
}

div#scoreboard {
    width: 200px;
    height: 100px;
    border: 3px double black;
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 70px;
}

div#scoreboard h2 {
    background-color: darksalmon;
    color: ghostwhite;
    margin: 2px;
    padding: 0;
    text-align: center;
    display: inline-block;
    width: 98%;
}

#highScore {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin: 0;
    line-height: 30px;
    vertical-align: middle;
}

span#reactionTime {
    font-weight: bold;
}